<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/index.css">

    <title>Global Chat</title>
</head>
<body>
    <ul id="messages"></ul>
    <span id="connectedUsers">0</span> Users
    <form id="chatForm">
      <input id="txt" autocomplete="off" autofocus="on" placeholder="type your message here..." />
      <button>Send</button>
    </form>

    <!--Loading JS -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="js/index.js"></script>
</body>
</html>